*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/*
:root{
    --clr: #222327;
}
*/

body{
    color: #fff;
    font-size: 2rem;
}

.container{
/*    position: absolute;*/
    width: 100%;
    height: 100vh;
    background: steelblue;
}

/*NAVI STYLES*/
#logo{
    color: #fff;
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

.navigation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background: #042139;
}

.navigation ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0 -5rem; 
}

.navigation ul li a{
    color: #fff;
    display: inline;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 30px;
    text-decoration: none;
}

li .icon{
    position: absolute;
    transform: translate(-110%, 10%);
    font-size: 2rem;
    color: #fff;
}

#hamburger, .closemenu{
    display: none;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
/*    transition: all 0.5s;*/
}

#hamburger:focus{
    outline: none;
}

#hamburger:hover{
    outline: auto;
}

/*FORM STYLES*/
form{
    position: relative;
    transform: translate(40%, 100%);
    padding: 50px 20px;
    width: 55%;
    height: 30%;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: center;
    width: 100%;
    padding: 20px;
}

.form-label{
    margin: 1rem 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.form-control{
    width: 60%;
    height: 5rem;
    padding: 0 0.5rem;
    font-size: 2rem;
    font-family: monospace;
    border: 3px solid #000;
    border-radius: 15px;
    outline: 0;
    background: steelblue;
    box-shadow: 2px 1px 10px #000;
}

.form-control:focus{
    border: 0;
    font-size: 2rem;
    border-bottom: 5px solid #000;
}

.pass-control{
    position: relative;
    width: 60%;
    height: 5rem;
    display: flex;
    align-items: center;
    background: steelblue;
/*    border-radius: 15px;*/
}

.pass-control input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    font-size: 2rem;
    border: 3px solid #000;
    padding: 0 0.5rem;
    outline: none;
    flex: 1;
    border-radius: 15px;
    background: transparent;
    box-shadow: 2px 1px 10px #000;
}

.pass-control input:focus{
    border: 0;
    font-size: 2rem;
    border-bottom: 5px solid #000;
}

.pass-control i{
    color: #000;
    position: absolute;
    right: 1rem;
    border-left: 2px solid #000;
    font-size: 2rem;
}

/*
.form-group .fas{
    position: absolute;
    color: #000;
    left: 41.5rem;
    bottom: 12.3rem;
    font-size: 2rem;
    cursor: pointer;
    border-left: 2px solid #000;
    padding-left: 5px;
}
*/

.btn{
    position: absolute;
    right: 40%;
    top: 70%;
/*
    left: 20rem;
    top: 18rem;
*/
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
}

/*Media queries*/
@media screen and (max-width: 1400px){
    form{
        width: 80%;
        height: 35%;
        transform: translate(13%, 50%);
    }
    .btn{
        right: 40%;
    }
    .form-group{
        margin-left: -2rem;
    }
}

@media screen and (max-width: 860px){
    /*NAVIGATION STYLES*/
    .navigation{
        width: 100%;
        padding-left: 1rem;
    }
    .navigation ul{
       height: 100vh;
       position: fixed;
       display: none;
       background: #042139;
       flex-direction: column;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       z-index: 10;
       align-items: center;
       justify-content: center;
       width: 100%;
       transform: top 0.5s ease;
    }
    .closemenu{
        display: block;
        position: absolute;
        top: 22px;
        right: 1rem;
    }
    .navigation ul li{
        border-bottom: 2px solid #fff;
        padding: 50px;
    }
    .navigation ul li:last-child{
        border: none;
    }
    .navigation ul.show{
        display: flex;
    }
    .navigation ul.hide{
        display: none;
    }
    #hamburger{
        display: block;
        
    }
    
    /*FORM STYLES*/
    form{
        width: 80%;
        height: 35%;
        transform: translate(13%, 50%);
    }
    .form-group{
        margin: 1rem auto;
    }
    .form-label{
        margin: 1rem 1rem;
    }
    .form-control{
        width: 65%;
    }
    .pass-control {
        width: 65%;
    }
    .btn{
        right: 35%;
        top: 75%;
    }  
}

@media screen and (max-width: 768px){
    /*NAVIGATION STYLES
    .navigation{
        width: 100%;
        padding-left: 1rem;
    }
    .navigation ul{
       height: 100vh;
       position: fixed;
       display: none;
       background: #042139;
       flex-direction: column;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       z-index: 10;
       align-items: center;
       justify-content: center;
       width: 100%;
       transform: top 0.5s ease;
    }
    .closemenu{
        display: block;
        position: absolute;
        top: 22px;
        right: 1rem;
    }
    .navigation ul li{
        border-bottom: 2px solid #fff;
        padding: 50px;
    }
    .navigation ul li:last-child{
        border: none;
    }
    .navigation ul.show{
        display: flex;
    }
    .navigation ul.hide{
        display: none;
    }
    #hamburger{
        display: block;
        
    }
    */
    /*FORM STYLES*/
    form{
        width: 80%;
        height: 35%;
        transform: translate(13%, 50%);
    }
    .form-group{
        margin: 1rem auto;
    }
    .form-label{
        margin: 1rem 1rem;
    }
    .form-control{
        width: 65%;
    }
    .pass-control {
        width: 65%;
    }
    .btn{
        right: 35%;
        top: 75%;
    }  
}

@media screen and (max-width: 601px){
    form{
        display: block;
    }
    .form-group{
        display: block;
        margin-top: -2rem;
    }
    .form-label{
        margin-left: 1.5rem;
    }
    .form-control{
        width: 90%;
        margin-left: 1rem;
    }
    .pass-control{
        width: 90%;
        margin-left: 1rem;
    }
    .btn{
        right: 35%;
    }
}

@media screen and (max-width: 501px){
/*
    .container{
        width: 100%;
    }
    
    .closemenu{
        display: block;
        position: absolute;
        top: 22px;
        right: 1rem;
    }
    .navigation ul li{
        display: block
        border-bottom: 2px solid #f00;
        padding: 50px;
    }
*/
    .btn{
        right: 31%;
    }
}

@media screen and (max-width: 415px){
    .btn{
        right: 25%;
    }
}

@media screen and (max-width: 376px){
    form{
        transform: translate(13%, 70%)
    }
    .form-group{
        display: block;
        margin-top: -2rem;
    }
    .form-label{
        margin-left: 0.5rem;
    }
    .form-control{
        width: 100%;
        margin-left: 0;
    }
    .pass-control{
        width: 100%;
        margin-left: 0;
    }
    .btn{
        right: 23%;
    }
}
    
    
    
    
    
    
    