*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

/*
:root{
    --clr: #222327;
}
*/

body{
/*
    display: flex;
    justify-content: center;
    align-items: center;
*/
    color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    background: steelblue;
}

#logo{
    color: #fff;
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

.navigation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background: #042139;
}

.navigation ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0 -5rem; 
}

.navigation ul li a{
    color: #fff;
    display: inline;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 30px;
    text-decoration: none;
}

li .icon{
    position: absolute;
    transform: translate(-110%, -10%);
    font-size: 2rem;
    color: #fff;
}

#hamburger, .closemenu{
    display: none;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
/*    transition: all 0.5s;*/
}

#hamburger:focus{
    outline: none;
}

#hamburger:hover{
    outline: auto;
}

content{
    position: absolute;
    transform: translate(80%, 50%);
    padding: 10px;
    top: 20%;
    width: 40%;
    border: 2px solid #fff;
    
}
/*FORM STYLES*/
.form-group{
    width: inherit;
    font-size: 1.2rem;
    font-weight: 600;
}

.form-label{
    margin: 1.5rem;
}

.form-control{
    width: 30rem;
    height: 4rem;
    margin: 1rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    font-family: monospace;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 2px 1px 10px #000;
}

.form-control:focus{
    border: none;
    border-bottom: 5px solid #000;
}

.form-group .fas{
    position: absolute;
    color: #000;
    left: 38.5rem;
    bottom: 6.6rem;
    font-size: 2rem;
    cursor: pointer;
    border-left: 2px solid #000;
}

.btn{
    position: relative;
    left: 18rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
}

/*Media queries*/
@media screen and (max-width: 1380px){
     content{
        transform: translate(25%, 50%);
        width: 65%;
    }
    .form-control{
        width: 35rem;
    }
    .btn{
        left: 20.5rem;
    }
    .form-group .fas{
        left: 43rem;
    }
}

@media screen and (max-width: 969px){
     content{
        transform: translate(45%, 50%);
        width: 55%;
    }
    .form-control{
        width: 37rem;
    }
    .btn{
        left: 15.5rem;
    }
    .form-group .fas{
        left: 35rem;
    }
}

@media screen and (max-width: 769px){
    content{
        transform: translate(40%, 50%);
    /*    padding: 10px;*/
        top: 20%;
        width: 55%;
    }
    .form-control{
        width: 30rem;
        margin: 0;
        padding: 0;
    }
    .form-label{
        margin: 0.5rem;
    }
    .btn{
        left: 10rem;
        margin-top: 1rem;
        padding: 1rem 2rem;
    }
    .form-group .fas{
        left: 27.5rem;
        bottom: 6.6rem;
    }
    .navigation{
        width: 100%;
        padding-left: 1rem;
    }
    .navigation ul{
       height: 100vh;
       position: fixed;
       display: none;
       background: #042139;
       flex-direction: column;
       position: absolute;
/*       transform: translate(0, 0);*/
       left: 0;
       right: 0;
       top: 0;
       z-index: 10;
       align-items: center;
       justify-content: center;
       width: 100%;
       transform: top 0.5s ease;
    }
/*    .navigation ul;*/
    .closemenu{
        display: block;
        position: absolute;
        top: 22px;
        right: 1rem;
    }
    .navigation ul li{
        border-bottom: 2px solid #fff;
        padding: 50px;
    }
    .navigation ul li:last-child{
        border: none;
    }
    .navigation ul.show{
        display: flex;
    }
    .navigation ul.hide{
        display: none;
    }
    
    #hamburger{
        display: block;
        
    }
    
}

@media screen and (max-width: 600px){
    .container{
        width: 100%;
    }
     content{
        transform: translate(30%, 50%);
        width: 67%;
    }
    .form-control{
        width: 20rem;
    }
    .btn{
        left: 5.5rem;
    }
    .form-group .fas{
        left: 17.5rem;
    }
    
    .closemenu{
        display: block;
        position: absolute;
        top: 22px;
        right: 1rem;
    }
    .navigation ul li{
        display: block
        border-bottom: 2px solid #fff;
        padding: 50px;
    }
    
}

@media screen and (max-width: 420px){
    .container{
        width: 100%;
    }
    .navigation{
    }
     content{
        transform: translate(25%, 50%);
        width: 68%;
    }
    .form-control{
        width: 17rem;
    }
    .btn{
        left: 4rem;
    }
    .form-group .fas{
        left: 14.5rem;
    }
}
    
    
    
    
    
    
    